<h2>Edytuj artykuł</h2>

<%= form_for @article do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %><br />

  <%= f.label :content %>
  <%= f.text_field :content %><br />

  <%= f.label :category %>
  <%= f.text_field :category %><br />

  <%= f.label :admin_id %>
  <%= f.select :admin_id, options_for_select(@admins_array) %><br />

  <%= f.submit 'Aktualizuj' %>
<% end %>
